* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 1.25rem;
}

h2 {
  font-size: 1.25em;
}

button {
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
}